<!DOCTYPE html>
 <html>
 <title><%= title %></title>
 </head>
       <body>
       	     <form action="users/input" method="GET">
	     <h1>What is your name?</h1>
	          <input type="type" name="title" id="title" /><br>
		  <button id="btn">answer!</button><br>
	     </form>
       </body>
 </html>
